print("hola")

print("hoa")

In [1]:
10*3.1419

31.419

In [2]:
2.5*5+j4

NameError: name 'j4' is not defined

In [3]:
(10)(3)

TypeError: 'int' object is not callable

In [4]:
(2.5)*(5)+j4

NameError: name 'j4' is not defined

print(x,y, sep="...")

print(x, y, sep="...")

In [5]:
print(x, y, sep="...")

NameError: name 'x' is not defined

x= input ("entre el valor de x: ")

In [6]:
x= input ("")

3

In [12]:
temp = input("entre el valor para x: ")

entre el valor para x: 23

In [13]:
x=float(temp)

In [14]:
4*x

92.0

In [15]:
y= float(input("entre el valor de y:")

SyntaxError: unexpected EOF while parsing (<ipython-input-15-9c4ce026c8d8>, line 1)

In [16]:
y= float(input("entre el valor de y:"))

entre el valor de y:40

In [17]:
x/y

0.575

In [18]:
x//y

0.0

In [19]:
4+3.56

7.5600000000000005

In [20]:
t= float(input("entre el valor de t:"))

entre el valor de t:10

In [21]:
h= float(input("entre el valor de h:"))

entre el valor de h:10000

In [22]:
g= float(input("entre el valor de g:"))

entre el valor de g:9.8

In [23]:
Y= 0.5*g*t**2

In [24]:
g= float(input("entre el valor de g="))

entre el valor de g=10

In [25]:
h= float(input("entre el valor de h:"))

entre el valor de h:kasjd

ValueError: could not convert string to float: 'kasjd'

In [26]:
h= float(input("entre el valor de h="))

entre el valor de h=10000

In [27]:
t= float(input("entre el valor de t="))

entre el valor de t=10

In [28]:
h-y

9960.0

In [29]:
t= float(input("entre el valor de t="))

entre el valor de t=10

In [30]:
27**(1/3)

3.0

In [31]:
G= float(input("entre el valor de G="))

entre el valor de G=6.67e-11

In [32]:
mt= float(input("entre el valor de mt="))

entre el valor de mt=5.97e24

In [33]:
rt= float(input("entre el valor de rt="))

entre el valor de rt=6.371e6

In [34]:
T= float(input("entre el valor de T="))

entre el valor de T=5400

In [35]:
r=((G*mt*T)/2*3.1416)**(1/3)

In [36]:
r= float(input("entre el valor de r="))

entre el valor de r=((G*mt*T)/2*3.1416)**(1/3)

ValueError: could not convert string to float: '((G*mt*T)/2*3.1416)**(1/3)'

In [37]:
r= float(input("entre el valor de r="))

entre el valor de r=((G*mt*T)/2*3.1416)**(1/3)

ValueError: could not convert string to float: '((G*mt*T)/2*3.1416)**(1/3)'

In [38]:
G

6.67e-11

In [39]:
((G*mt*T)/(2*3.1416))**(1/3)

699473.0941805743

In [40]:
r= float(input("entre el valor de r="))

entre el valor de r=((G*mt*T)/(2*3.1416))**(1/3)

ValueError: could not convert string to float: '((G*mt*T)/(2*3.1416))**(1/3)'

In [41]:
r=((G*mt*T)/(2*3.1416))**(1/3)

In [42]:
rt-699473.0941805743

5671526.905819425

SyntaxError: invalid syntax (<ipython-input-48-389418d50732>, line 6)

In [49]:
T=float (input ("ingrese el periodo (en segundos): "))
G=6.67e-11
M=5.98e24
R=6371e3
h= (((T**2*G*M)/(2*3.1416)**2(1/3))-R
    print(h)

SyntaxError: invalid syntax (<ipython-input-49-389418d50732>, line 6)

este codigoes utilizado para calcular la altura (h)deun satelite geosincronico sobe la suprficie terrestre teniendo en cuentasu periodo(T).
empleando la ley de gravitacionaly la segunda ley de newton podemos optener la siguiente ecuacion:

h= (((T**2*G*M)/(2*3.1416)**2(1/3))-R
calcula los siguientes datos:


para un periodo de un dia (24 horas)se optiene una altura de de 35893759.8 metros

para un periodo e 90 minutos se optiene una altura de de 285282.56 metros

para un periodo de 45 minutos se obtienen una altura de de -2117804 metros

para un dia sederal (23.93horas) se optiene una altura de de 35811538.32 metros